{% extends 'home.html' %} {% block title %} Database | Admin {% endblock %} {% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="static/js/livetime.js"></script>

<style>
  body {
    background-image: url(static/img/home.jpg);
  }
</style>
<div class="container">
  <div class="row text-light">
    <div class="">
      {% block body %}
      <div class="container" style="padding-top: 100px">
        <div class="starter-template">
          <h1 class="text-center" style="padding-bottom: 5px">HVAC System Data</h1>
          <h1 class="text-center mb-3" style="padding-bottom: 10px">PT. Gemara</h1>
          <a href="/hapus-databaseadmin" class="btn btn-warning btn-xs mb-4" onclick="return confirm('Delete Data?')" &nbsp;>Delete Data</a>

          <table class="table text-light">
            <thead>
              <tr>
                <th class="table-danger">ID</th>
                <th class="table-primary">DATE</th>
                <th class="table-primary">IN-CONDENSOR</th>
                <th class="table-primary">OUT-CONDENSOR</th>
                <th class="table-primary">IN-EVAPORATOR</th>
                <th class="table-primary">OUT-EVAPORATOR</th>
                <th class="table-primary">COMPRESSOR</th>
                <th class="table-primary">ROOM</th>
              </tr>
            </thead>

            <tbody id="myhvac">
              <tr>
                <td>{{id}}</td>

                <td class="table-warning">{{ tanggal }}</td>
                <td class="table-warning">{{ in_condensor }}</td>
                <td class="table-warning">{{ out_condensor }}</td>
                <td class="table-warning">{{ in_evaporator }}</td>
                <td class="table-warning">{{ out_evaporator }}</td>
                <td class="table-warning">{{ compressor }}</td>
                <td class="table-warning">{{ room }}</td>
              </tr>

              <tr>
                <td colspan="3">No data input</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}
