{% extends 'home.html' %} {% block title %} Wrong | OTP Code {% endblock %} {% block content %}
<!-- Jumbotron -->
<section class="jumbotron text-center text-white" style="background-image: url(static/img/home.jpg); padding-top: 150px; padding-bottom: 277px">
  <img src="static/img/wrong2.png" alt="adminn" width="230" />
  <h1 class="mt-3 mb-3 display-4">OTP Code is wrong!!</h1>
  <p class="mb-1 md-4 lead">Please enter the OTP Code again!!</p>
  <p class="lead md-4 mb-3"><i class="bi bi-x-octagon"></i> <i class="bi bi-x-octagon-fill"></i> <i class="bi bi-x-circle"></i> <i class="bi bi-x-octagon-fill"></i> <i class="bi bi-x-octagon"></i></p>
  <a class="btn btn-danger" href="/registeradmin" role="button"><i class="bi bi-arrow-return-left"></i> Go Back</a>
</section>
<!-- Akhir Jumbotron -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
{% endblock %}
