{% extends 'home.html' %} {% block title %} About Us {% endblock %} {% block content %}

<section class="jumbotron text-center text-white" style="padding-top: 150px">
  <img src="static/img/gerard.jpeg" alt="Blin-Q Bengkel" width="200" class="rounded-circle img-thumbnail" style="border-color: #604ec4" />
  <h1 class="mb-3 md-4 display-4">Dirgantoro Gerardiawan</h1>
  <p class="mb-1 md-4 lead">ARM 2 | 16833</p>
  <p class="lead">'The HVAC Controllerz'</p>
</section>
<section class="jumbotron text-center text-white">
  <img src="static/img/mahesa.jpeg" alt="Blin-Q Bengkel" width="200" class="rounded-circle img-thumbnail" style="border-color: #604ec4" />
  <h1 class="mb-3 display-4">Mahesa Audriyansyah Agatha</h1>
  <p class="mb-1 md-4 lead">ARM 2 | 16555</p>
  <p class="lead">'The HVAC Crackerz'</p>
</section>
<section class="jumbotron text-center text-white">
  <img src="static/img/dika1.jpeg" alt="Blin-Q Bengkel" width="200" class="rounded-circle img-thumbnail" style="border-color: #604ec4" />
  <h1 class="mb-3 display-4">Dika Puspito</h1>
  <p class="mb-1 md-4 lead">ARM 2 | 16548</p>
  <p class="lead">'The HVAC Correctorz'</p>
</section>
<section class="jumbotron text-center text-white" style="padding-bottom: 100px">
  <img src="static/img/rehan.jpg" alt="Blin-Q Bengkel" width="200" class="rounded-circle img-thumbnail" style="border-color: #604ec4" />
  <h1 class="mb-3 display-4">Raihan Nur Fadhila</h1>
  <p class="mb-1 md-4 lead">ARM 2 | 16843</p>
  <p class="lead">'The HVAC Watcherz'</p>
</section>

<style>
  body {
    background-image: url(static/img/home.jpg);
    background-size: 100% 100%;
  }
</style>
{% endblock %}
